@model IEnumerable<Demo.BL.Models.EmployeeVM>


@{
    ViewBag.Title = SharedLocalizer["Employee"];
}

<link href="~/plugins/bootstrap-select/css/bootstrap-select.css" rel="stylesheet" />
<style>
    th {
        text-align: center !important;
    }
</style>
<h2>
    @SharedLocalizer["WTE"]
</h2>



<br />

<h1>
    @ViewBag.Msg
</h1>

<br />

<a asp-action="Create" asp-controller="Employee" class="btn btn-primary">@SharedLocalizer["CNE"]</a>

<br />
<br />

<form class="form-group" asp-controller="Employee" asp-action="Index">

    <div class="row">
        <div class="col-lg-10">
            <input type="text" placeholder="@SharedLocalizer["SBEN"]" class="form-control" name="SearchValue" />
        </div>
        <div class="col-lg-2">
            <input type="submit" value="@SharedLocalizer["Search"]" class="btn btn-success" />
        </div>
    </div>

</form>

<br />
<br />


<div class="container-fluid">
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header">
                    <h2>@SharedLocalizer["WTE"]</h2>
                    <ul class="header-dropdown m-r--5">
                        <li class="dropdown">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <i class="material-icons">more_vert</i>
                            </a>
                            <ul class="dropdown-menu pull-right">
                                <li><a href="javascript:void(0);">Action</a></li>
                                <li><a href="javascript:void(0);">Another action</a></li>
                                <li><a href="javascript:void(0);">Something else here</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped table-hover js-basic-example dataTable text-center font-weight-bold">
                     
                            <thead>
                                <tr class="thead-dark">
                                    <th>@SharedLocalizer["Name"]</th>
                                    <th>@SharedLocalizer["Email"]</th>
                                    <th>@SharedLocalizer["HireDate"]</th>
                                    <th>Photo</th>
                                    <th>Cv</th>
                                    <th>@SharedLocalizer["Department"]</th>
                                    <th>@SharedLocalizer["Update"]</th>
                                    <th>@SharedLocalizer["Remove"]</th>
                                    <th>@SharedLocalizer["Details"]</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                <tr>
                                    <td>@item.Name</td>
                                    <td>@item.Email</td>
                                    <td>@item.HireDate.ToShortDateString()</td>
                                    <td><img src="~/Files/Photos/@item.Photo" height="50" width="50" /></td>
                                    <td><a href="~/Files/Docs/@item.Cv">Download Cv</a></td>
                                    <td>@item.Department.DepartmentName</td>

                                    <td><a asp-action="Edit" asp-controller="Employee" asp-route-id="@item.Id" class="btn btn-success">@SharedLocalizer["Update"]</a></td>
                                    <td><a asp-action="Delete" asp-controller="Employee" asp-route-id="@item.Id" class="btn btn-danger">@SharedLocalizer["Remove"]</a></td>
                                    <td><a asp-action="Details" asp-controller="Employee" asp-route-id="@item.Id" class="btn btn-info">@SharedLocalizer["Details"]</a></td>
                                </tr>
                                }
                            </tbody>

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>









@section MyDataTable{

    <script>
        $(function () {
            $('.js-basic-example').DataTable({
                responsive: true,
                paging: true,
                pageLength: 3,
                bSort: true,
                bFilter: true,
                //bLengthChange: false,
                //bInfo: false,
                lengthMenu: [[3, 10, 25, 50, -1], [3 , 10, 25, 50, "All"]],

            });
        });
    </script>

}